.benefits{
    display: flex;
    justify-content: space-between;

    &__item {
        max-width: 290px;
        margin-bottom: 120px;
    }

    &__item h2 {
        @include font-cabinet-black;
        @include font(32px, 40px);
        color: $color-text-dark;
        margin-top: 23px;
        margin-bottom: 8px;
    }

    &__item p {
        @include reset-model;
        color: $color-text-base;
        @include font(16px, 28px);
        margin-bottom: 25px;
    }

    &__item a {
        @include font-cabinet-bold;
        @include font(16px, 20px);
        color: $color-text-base;

        &:hover {
            color: $color-orange;
        }
    }
}