.btn {
    @include reset-button;
    @include font-cabinet-bold;
    @include font(16px, 20px);
    background-color: $color-orange;
    color: #fff;
    padding: 10px 30px;
    border-radius: 6px;
    transition: .2s;

    &:hover {
        background-color: darken($color-orange, 5%);
    }

    &_promo {
        padding: 20px 40px;
    }
}