.nav-list {
    @include reset-list;
    display: flex;

    &__item {
        margin-right: 30px;
    }

    &__link {
        @include reset-link;
        @include font-helvetica-medium;
        @include font(14px, 21px);
        color: $color-text-dark;
        text-transform: uppercase;

        &:hover {
            text-decoration: underline;
        }
    }
}